# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# macOS
.DS_Store

# Django
*.log
db.sqlite3

# Test export files
Check.pdf
check2.pdf
staticfiles/
